:root {
  --font-size-small: 7px;
  --font-size-small-h2: 10px;
  --font-size-medium: 9px;
  --font-size-medium-h2: 12px;
  --font-size-large: 12px;
  --font-size-large-h2: 18px;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 150px;
}

body {
  background-image: url("images/bg.svg");
  background-size: cover, cover;
  background-position: center top, center bottom;
  background-repeat: repeat-y;
  position: relative;
  height: 1000px;
}

.navigationBar {
  width: 100%;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.navigationBar__top {
  display: inline-flex;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 20%, rgb(253, 187, 45) 100%);
  border-radius: 5%;
  border: 0px;
}
.navigationBar__bottom {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  display: none;
  flex-direction: column;
  align-items: center;
}
.navigationBar__bottom__input {
  height: min(3vh, 3vw);
  min-height: 15px;
  width: 30%;
}
.navigationBar__bottom__button {
  height: min(6vh, 6vw);
  width: 30%;
  min-height: 20px;
  font-style: italic;
  font-weight: 700;
}
@media screen and (max-width: 150px) {
  .navigationBar__bottom__button {
    font-size: var(--font-size-small-h2);
  }
}
@media screen and (min-width: 151px) and (max-width: 499px) {
  .navigationBar__bottom__button {
    font-size: var(--font-size-medium-h2);
  }
}
@media screen and (min-width: 500px) {
  .navigationBar__bottom__button {
    font-size: var(--font-size-large-h2);
  }
}
.navigationBar__homeButton {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 15px;
  margin-inline: 2%;
  margin-block: 1vh;
  cursor: pointer;
  transition: border-radius 0.7s;
  transition-timing-function: ease-in-out;
  border-radius: 25%;
  border: 0px;
  cursor: pointer;
}
.navigationBar__logo {
  background-color: transparent;
  border: none;
  min-width: -moz-fit-content;
  min-width: fit-content;
  width: 12vw;
  height: 100%;
}
.navigationBar__loginButton {
  text-align: right;
  padding-right: 3vw;
  width: 15vw;
  min-width: 40px;
  margin-inline: 2%;
  margin-block: 1vh;
  cursor: pointer;
  border-radius: 100%;
  background-image: url("images/login.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 70px) {
  .navigationBar__loginButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .navigationBar__loginButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .navigationBar__loginButton {
    font-size: var(--font-size-large);
  }
}
.navigationBar__loginButton:hover {
  background-image: url("images/login.gif");
}
.navigationBar__homeButton:hover {
  border-radius: 100%;
  border: 0px;
}

.searchBar {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 200px;
}

.viewProfileButton {
  margin-inline: 2%;
  margin-block: 1vh;
  background: rgb(251, 123, 63);
  background: radial-gradient(circle, rgb(251, 123, 63) 0%, rgb(252, 235, 70) 76%);
  position: fixed;
  color: white;
  font-style: italic;
  font-weight: 700;
  border-radius: 100%;
  border: none;
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  min-width: 40px;
  min-height: 40px;
  width: max(9vh, 9vw);
  height: max(9vh, 9vw);
  bottom: 2.5vh;
  right: 4vw;
  z-index: 9999;
  transition: transform 1.5s ease-in-out, text-shadow 1.5s ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 70px) {
  .viewProfileButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .viewProfileButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .viewProfileButton {
    font-size: var(--font-size-large);
  }
}

.viewProfileButton:hover {
  color: #FFFFFF;
  transform: rotate(360deg);
  box-shadow: none;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.addPostButton {
  margin-inline: 2%;
  margin-block: 1vh;
  background: rgb(251, 123, 63);
  background: radial-gradient(circle, rgb(251, 123, 63) 0%, rgb(252, 235, 70) 76%);
  position: fixed;
  color: white;
  font-style: italic;
  font-weight: 700;
  border-radius: 100%;
  border: none;
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  min-width: 40px;
  min-height: 40px;
  width: max(9vh, 9vw);
  height: max(9vh, 9vw);
  bottom: 2.5vh;
  left: 4vw;
  z-index: 9998;
  transition: 1s transform;
  transition: 0.8 text-shadow;
  transition-timing-function: ease-in-out;
  cursor: pointer;
}
@media screen and (min-width: 70px) {
  .addPostButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .addPostButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .addPostButton {
    font-size: var(--font-size-large);
  }
}

.addPostButton:hover {
  color: #FFFFFF;
  transform: rotate(360deg);
  box-shadow: none;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.viewPolicyButton {
  margin-inline: 2%;
  margin-block: 1vh;
  background: rgb(251, 123, 63);
  background: radial-gradient(circle, rgb(251, 123, 63) 0%, rgb(252, 235, 70) 76%);
  color: white;
  font-style: italic;
  font-weight: 700;
  border-radius: 100%;
  border: none;
  width: 5vw;
  height: 5vw;
  min-width: 40px;
  min-height: 40px;
  bottom: 2.5vh;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  position: absolute;
  z-index: 10000;
  transition: 1s transform;
  transition-timing-function: ease-in-out;
}
@media screen and (min-width: 70px) {
  .viewPolicyButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .viewPolicyButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .viewPolicyButton {
    font-size: var(--font-size-large);
  }
}

.viewPolicyButton:hover {
  transform: translateX(-50%) rotate(360deg);
}

.masterSection {
  width: 100%;
  margin-top: max(15vh, 80px);
  display: grid;
  grid-gap: 2vh;
  grid-template-columns: auto auto;
  justify-items: center;
  /*&__postSection {
      display: block;
      //todo
  }*/
}
@media (max-aspect-ratio: 1.1/1) {
  .masterSection {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.masterSection__loginSection {
  display: none;
  position: fixed;
  top: 10vh;
  left: 25vw;
  right: 25vw;
  bottom: 20vh;
  width: 50vw;
  height: 80vh;
  min-width: 100px;
  background-color: #FF2D95;
  border-radius: 5%;
  background-image: url("images/popUpBackground.svg");
  background-size: cover;
  overflow: auto;
}
@media (max-aspect-ratio: 1.1/1) {
  .masterSection__loginSection {
    top: 15vh;
    width: 70vw;
    left: 15vw;
    right: 15vw;
    height: 50vh;
  }
}
@media (max-aspect-ratio: 2/1) and (min-aspect-ratio: 1.11/1) {
  .masterSection__loginSection {
    top: 20vh;
    height: min(60vh, 75vw);
  }
}
.masterSection__registerSection {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url("images/popUpBackground.svg");
  background-size: cover;
  background-color: #FF2D95;
  border-radius: 5%;
  overflow: auto;
}
.masterSection__addPostSection {
  display: none;
  position: fixed;
  top: 10vh;
  left: 25vw;
  right: 25vw;
  bottom: 20vh;
  width: 50vw;
  height: 80vh;
  min-width: 100px;
  background-color: #FF2D95;
  border-radius: 5%;
  background-image: url("images/popUpBackground.svg");
  background-size: cover;
  overflow: auto;
}
@media (max-aspect-ratio: 1.1/1) {
  .masterSection__addPostSection {
    top: 15vh;
    width: 70vw;
    left: 15vw;
    right: 15vw;
    height: 50vh;
  }
}
@media (max-aspect-ratio: 2/1) and (min-aspect-ratio: 1.11/1) {
  .masterSection__addPostSection {
    top: 20vh;
    height: min(60vh, 75vw);
  }
}
.masterSection__profileSection {
  display: none;
  position: fixed;
  top: 10vh;
  left: 25vw;
  right: 25vw;
  bottom: 20vh;
  width: 50vw;
  height: 80vh;
  min-width: 100px;
  background-color: #FF2D95;
  border-radius: 5%;
  background-image: url("images/popUpBackground.svg");
  background-size: cover;
  overflow: auto;
}
@media (max-aspect-ratio: 1.1/1) {
  .masterSection__profileSection {
    top: 15vh;
    width: 70vw;
    left: 15vw;
    right: 15vw;
    height: 50vh;
  }
}
@media (max-aspect-ratio: 2/1) and (min-aspect-ratio: 1.11/1) {
  .masterSection__profileSection {
    top: 20vh;
    height: min(60vh, 75vw);
  }
}
.masterSection__policySection {
  display: none;
  position: fixed;
  top: 10vh;
  left: 25vw;
  right: 25vw;
  bottom: 20vh;
  width: 50vw;
  height: 80vh;
  min-width: 100px;
  background-color: #FF2D95;
  border-radius: 5%;
  background-image: url("images/popUpBackground.svg");
  background-size: cover;
}
@media (max-aspect-ratio: 1.1/1) {
  .masterSection__policySection {
    top: 15vh;
    width: 70vw;
    left: 15vw;
    right: 15vw;
    height: 50vh;
  }
}
@media (max-aspect-ratio: 2/1) and (min-aspect-ratio: 1.11/1) {
  .masterSection__policySection {
    top: 20vh;
    height: min(60vh, 75vw);
  }
}
.masterSection__closePopUp {
  position: absolute;
  top: 2%;
  right: 2%;
  width: max(3vh, 3vw);
  min-width: 15px;
  min-height: 15px;
  height: max(3vh, 3vw);
  background-image: url("images/closeButton.svg");
  background-size: cover;
  background-color: black;
  border: none;
  border-radius: 100%;
}/*# sourceMappingURL=main.css.map */