@mixin buttonBasicProp
{
    margin-inline: 2%;
    margin-block: 1vh;
}

:root
{
    --font-size-small: 10px;
    --font-size-medium: 12px;
    --font-size-large: 18px;
}

@mixin fontStyle
{
    @media screen and (max-width: 500px)
    {
        font-size: var(--font-size-small);
    }
    
    @media screen and (min-width: 501px) and (max-width: 799px) and (min-height: 200px)
    {
        font-size: var(--font-size-medium);
    }
    
    @media screen and (min-width: 900px) and (min-height: 400px)
    {
        font-size: var(--font-size-large);
    }
}

body
{
    background-image: url('images/bg.svg');
    background-size: cover, cover;
    background-position: center top, center bottomm; 
    background-repeat: repeat-y;
    margin: 0;
    padding: 0;
    min-width: fit-content;
    min-height: fit-content;
}

.navigationBar
{
    position: fixed;
    margin: 0px;
    width: 100%;
    height: 10vh;
    min-height: 50px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(253,187,45,1) 100%);
    border-radius: 5%;
    border: 0px;
    display: inline-flex;
    justify-content: space-between;

    &__homeButton {
        width: fit-content;
        min-width: 15px;
        @include buttonBasicProp;
        cursor: pointer;
        transition: border-radius 0.7s;
        transition-timing-function: ease-in-out;
        border-radius: 25%;
        border: 0px;
    }

    &__logo {
        width: 15vw;
        height: 100%;
    }

    &__loginButton {
        @include fontStyle;
        text-align: right;
        padding-right: 3vw;
        width: 15vw;
        min-width: 25px;
        @include buttonBasicProp;
        cursor: pointer;
        border-radius: 100%;
        background-image: url('images/login.png');
        background-size: cover;
        background-position: center;
        transition: 0.5s;
        transition-timing-function: ease-in-out;
    }

    &__loginButton:hover {
        background-image: url('images/login.gif');
    }

    &__homeButton:hover {
        border-radius: 100%;
        //background: rgb(34,193,195);
        //background: linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(219,132,209,1) 100%);
        border: 0px;
    }
}

.viewProfileButton {
    @include fontStyle;
    @include buttonBasicProp;
    background: rgb(251,123,63);
    background: radial-gradient(circle, rgba(251,123,63,1) 0%, rgba(252,235,70,1) 76%);
    position: fixed;
    min-width: 0.5cm;
    min-height: 0.5cm;
    color: white;
    font-style: italic;
    font-weight: 700;
    border-radius: 100%;
    border: none;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    width: calc(max(9vh, 9vw));
    height: calc(max(9vh, 9vw));
    min-width: 25px;
    bottom: 2.5vh;
    right: 4vw; 
    z-index: 9999;
    transition: 1.5s text-shadow;
    transition-timing-function: ease-in-out;
}
.viewProfileButton:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}
.addPostButton {
    @include fontStyle;
    @include buttonBasicProp;
    background: rgb(251,123,63);
    background: radial-gradient(circle, rgba(251,123,63,1) 0%, rgba(252,235,70,1) 76%);
    position: fixed;
    color: white;
    font-style: italic;
    font-weight: 700;
    border-radius: 100%;
    border: none;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    width: calc(max(9vh, 9vw));
    height: calc(max(9vh, 9vw));
    min-width: 0.5cm;
    min-height: 0.5cm;
    bottom: 2.5vh;
    left: 4vw;
    z-index: 9998;
    transition: 1s transform;
    transition: 0.8 text-shadow;
    transition-timing-function: ease-in-out;
}

.addPostButton:hover {
    color: #FFFFFF;
    transform: rotate(360deg);
    box-shadow: none;
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.masterSection {
    width: 100%;
    height: 3500px; //for testing like this

    &__postSection {
        display: block;
        //todo
    }
    
    @mixin popUp
    {
        position: fixed;
        top: 20vh;
        left: 25vw;
        right: 25vw;
        bottom: 20vh;
        width: 50vw;
        height: 60vh;
        background-color: #FF2D95;
        border-radius: 5%;
        background-image: url('images/popUpBackground.svg');
        background-size: cover;
    }

    &__loginSection {
        display: none;
        @include popUp;
        //todo
    }

    &__addPostSection {
        display: none;
        @include popUp;
        //todo
    }

    &__profileSection {
        display: none;
        @include popUp;
        //todo
    }

    &__closePopUp {
        position: absolute;
        top: 2%;
        right: 2%;
        width: calc(max(3vh, 3vw));;
        height: calc(max(3vh, 3vw));;
        background-image: url('images/closeButton.svg');
        background-size: cover;
        background-color: black;
        border: none;
        border-radius: 100%;
    }
}