:root {
  --font-size-small: 10px;
  --font-size-medium: 12px;
  --font-size-large: 18px;
}

body {
  background-image: url("images/bg.svg");
  background-size: cover, cover;
  background-position: center top, center bottomm;
  background-repeat: repeat-y;
  margin: 0;
  padding: 0;
  min-width: -moz-fit-content;
  min-width: fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
}

.navigationBar {
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 10vh;
  min-height: 50px;
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgb(34, 193, 195) 20%, rgb(253, 187, 45) 100%);
  border-radius: 5%;
  border: 0px;
  display: inline-flex;
  justify-content: space-between;
}
.navigationBar__homeButton {
  width: -moz-fit-content;
  width: fit-content;
  min-width: 15px;
  margin-inline: 2%;
  margin-block: 1vh;
  cursor: pointer;
  transition: border-radius 0.7s;
  transition-timing-function: ease-in-out;
  border-radius: 25%;
  border: 0px;
}
.navigationBar__logo {
  width: 15vw;
  height: 100%;
}
.navigationBar__loginButton {
  text-align: right;
  padding-right: 3vw;
  width: 15vw;
  min-width: 25px;
  margin-inline: 2%;
  margin-block: 1vh;
  cursor: pointer;
  border-radius: 100%;
  background-image: url("images/login.png");
  background-size: cover;
  background-position: center;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 500px) {
  .navigationBar__loginButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 501px) and (max-width: 799px) and (min-height: 200px) {
  .navigationBar__loginButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 900px) and (min-height: 400px) {
  .navigationBar__loginButton {
    font-size: var(--font-size-large);
  }
}
.navigationBar__loginButton:hover {
  background-image: url("images/login.gif");
}
.navigationBar__homeButton:hover {
  border-radius: 100%;
  border: 0px;
}

.viewProfileButton {
  margin-inline: 2%;
  margin-block: 1vh;
  background: rgb(251, 123, 63);
  background: radial-gradient(circle, rgb(251, 123, 63) 0%, rgb(252, 235, 70) 76%);
  position: fixed;
  min-width: 0.5cm;
  min-height: 0.5cm;
  color: white;
  font-style: italic;
  font-weight: 700;
  border-radius: 100%;
  border: none;
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  width: max(9vh, 9vw);
  height: max(9vh, 9vw);
  min-width: 25px;
  bottom: 2.5vh;
  right: 4vw;
  z-index: 9999;
  transition: 1.5s text-shadow;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 500px) {
  .viewProfileButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 501px) and (max-width: 799px) and (min-height: 200px) {
  .viewProfileButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 900px) and (min-height: 400px) {
  .viewProfileButton {
    font-size: var(--font-size-large);
  }
}

.viewProfileButton:hover {
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.addPostButton {
  margin-inline: 2%;
  margin-block: 1vh;
  background: rgb(251, 123, 63);
  background: radial-gradient(circle, rgb(251, 123, 63) 0%, rgb(252, 235, 70) 76%);
  position: fixed;
  color: white;
  font-style: italic;
  font-weight: 700;
  border-radius: 100%;
  border: none;
  box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 5px 6px 5px 0px rgba(0, 0, 0, 0.75);
  width: max(9vh, 9vw);
  height: max(9vh, 9vw);
  min-width: 0.5cm;
  min-height: 0.5cm;
  bottom: 2.5vh;
  left: 4vw;
  z-index: 9998;
  transition: 1s transform;
  transition: 0.8 text-shadow;
  transition-timing-function: ease-in-out;
}
@media screen and (max-width: 500px) {
  .addPostButton {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 501px) and (max-width: 799px) and (min-height: 200px) {
  .addPostButton {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 900px) and (min-height: 400px) {
  .addPostButton {
    font-size: var(--font-size-large);
  }
}

.addPostButton:hover {
  color: #FFFFFF;
  transform: rotate(360deg);
  box-shadow: none;
  text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #FF2D95 0px 0px 20px, #FF2D95 0px 0px 30px, #FF2D95 0px 0px 40px, #FF2D95 0px 0px 50px, #FF2D95 0px 0px 75px;
}

.masterSection {
  width: 100%;
  height: 3500px;
}
.masterSection__postSection {
  display: block;
}
.masterSection__loginSection {
  display: none;
}
.masterSection__addPostSection {
  display: none;
}
.masterSection__addPostSection {
  display: none;
}/*# sourceMappingURL=main.css.map */