:root {
    --font-size-small: 10px;
    --font-size-medium: 12px;
    --font-size-large: 18px;
}

@mixin fontStyle {
    @media screen and (max-width: 500px) {
        font-size: var(--font-size-small);
    }

    @media screen and (min-width: 501px) and (max-width: 799px) and (min-height: 200px) {
        font-size: var(--font-size-medium);
    }

    @media screen and (min-width: 900px) and (min-height: 400px) {
        font-size: var(--font-size-large);
    }
}
.newPost {

    &__description {
        //@include fontStyle;
        color: rgb(237, 1, 1);
        font-family: Arial;
        width: 100%;
        font-weight: 700;
        display: flex;
        justify-content: center;
        font-size: 4vw;
        text-shadow: 2px 2px 4px black;
    }

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    &__formField {

        &__title {
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }

        &__description {
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }

        &__image {
            display: flex;
            justify-content: center;
            padding-top: 1vh;
        }
    }

    &__label {
        @include fontStyle;
        width: fit-content;
        color: white;
        font-style: italic;
        font-weight: 700;
        background-color: rgba(0, 0, 0, 1);
        padding: 3%;
    }

    &__formActions {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        &__button {
            height: 6vh;
            min-height: 15px;
            @include fontStyle;
            font-style: italic;
            font-weight: 700;
            margin-left: 5vw;
            margin-right: 5vw;
            margin-top: 2vh;
        }
    }
}