:root {
  --font-size-small: 7px;
  --font-size-small-h2: 10px;
  --font-size-medium: 9px;
  --font-size-medium-h2: 12px;
  --font-size-large: 12px;
  --font-size-large-h2: 18px;
  --font-size-extraLarge: 19px;
}

.masterSection__post {
  width: 60%;
  /*@media (max-aspect-ratio: 1.1/1) {
      width: 70%;
  }*/
  min-height: 120px;
  height: -moz-fit-content;
  height: fit-content;
  background-color: pink;
  margin-top: max(3vh, 10px);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.masterSection__post__title {
  font-family: cursive;
  word-wrap: normal;
  font-weight: 700;
}
@media screen and (max-width: 150px) {
  .masterSection__post__title {
    font-size: var(--font-size-small-h2);
  }
}
@media screen and (min-width: 151px) and (max-width: 299px) {
  .masterSection__post__title {
    font-size: var(--font-size-medium-h2);
  }
}
@media screen and (min-width: 300px) {
  .masterSection__post__title {
    font-size: var(--font-size-large-h2);
  }
}
.masterSection__post__title__div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: wheat;
  margin-top: 7%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.masterSection__post__tag {
  font-family: Arial;
  font-weight: 700;
  margin-top: 5%;
  color: rgb(255, 0, 17);
  text-shadow: 2px 2px 4px rgb(228, 191, 6);
  width: max(20vw, -moz-fit-content);
  width: max(20vw, fit-content);
  border-radius: 7%;
  background-image: url("images/popUpBackground.svg");
  background-size: cover;
}
@media screen and (min-width: 70px) {
  .masterSection__post__tag {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .masterSection__post__tag {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .masterSection__post__tag {
    font-size: var(--font-size-large);
  }
}
@media screen and (min-width: 700px) and (min-height: 400px) {
  .masterSection__post__tag {
    font-size: var(--font-size-extraLarge);
  }
}
.masterSection__post__image {
  padding-top: 5%;
  width: 60%;
  height: auto;
}
.masterSection__post__statistics {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 15%;
}
.masterSection__post__statistics__likesButton {
  border: none;
  width: 40%;
  background-color: transparent;
}
.masterSection__post__statistics__commentsButton {
  width: 40%;
  border: none;
  background-color: transparent;
}
.masterSection__post__statistics__sharesButton {
  width: 40%;
  border: none;
  background-color: transparent;
}
.masterSection__post__results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 5%;
}
.masterSection__post__results__likes {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  width: min(20vw, 25%);
  border: none;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 70px) {
  .masterSection__post__results__likes {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .masterSection__post__results__likes {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .masterSection__post__results__likes {
    font-size: var(--font-size-large);
  }
}
@media screen and (min-width: 700px) and (min-height: 400px) {
  .masterSection__post__results__likes {
    font-size: var(--font-size-extraLarge);
  }
}
.masterSection__post__results__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  width: min(20vw, 25%);
  border: none;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 70px) {
  .masterSection__post__results__comments {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .masterSection__post__results__comments {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .masterSection__post__results__comments {
    font-size: var(--font-size-large);
  }
}
@media screen and (min-width: 700px) and (min-height: 400px) {
  .masterSection__post__results__comments {
    font-size: var(--font-size-extraLarge);
  }
}
.masterSection__post__results__shares {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 700;
  width: min(20vw, 25%);
  border: none;
  height: fit;
}
@media screen and (min-width: 70px) {
  .masterSection__post__results__shares {
    font-size: var(--font-size-small);
  }
}
@media screen and (min-width: 151px) and (min-height: 499px) {
  .masterSection__post__results__shares {
    font-size: var(--font-size-medium);
  }
}
@media screen and (min-width: 500px) and (min-height: 400px) {
  .masterSection__post__results__shares {
    font-size: var(--font-size-large);
  }
}
@media screen and (min-width: 700px) and (min-height: 400px) {
  .masterSection__post__results__shares {
    font-size: var(--font-size-extraLarge);
  }
}/*# sourceMappingURL=post.css.map */