
@mixin fontStyle {
  @media screen and (min-width: 70px) {
      font-size: var(--font-size-small);
  }

  @media screen and (min-width: 151px) and (min-height: 499px) {
      font-size: var(--font-size-medium);
  }

  @media screen and (min-width: 500px) and (min-height: 400px) {
      font-size: var(--font-size-large);
  }

  @media screen and (min-width: 700px) and (min-height: 400px) {
      font-size: var(--font-size-extraLarge);
  }
}

@mixin fontStyleH2 {
  @media screen and (max-width: 150px) {
      font-size: var(--font-size-small-h2);
  }

  @media screen and (min-width: 151px) and (max-width: 299px) {
      font-size: var(--font-size-medium-h2);
  }

  @media screen and (min-width: 300px) {
      font-size: var(--font-size-large-h2);
  }
}

.profile {
  display: flex;
  flex-direction: column;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80%;
  min-height: 100px;

  &__title {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 0;
    //@include fontStyle;
    color: rgb(237, 1, 1);
    font-family: Arial;
    //width: 70%;
    height: fit-content;
    font-weight: 700;
    font-size: 4vw;
    text-shadow: 2px 2px 4px black;
  }

  &__username {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    background-color: beige;
    color: black;
    align-items: center;
    //@include fontStyle;
    font-family: Arial;
    font-size: 2vw;
    font-weight: 700;
    width: calc(min(20vw, 25%));
    //border: none;
    height: fit-content;
  }

  &__picture {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 0;
    width: 70%;
    height: 30%;
  }

  &__statistics {
    height: 35%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__buttonStatistics {
      width: 30%;
      border: none;
      background-color: transparent;
    }

    &__fbButton {
      width: 30%;
      border: none;
      background-color: transparent;
    }

    &__xButton {
      width: 30%;
      border: none;
      background-color: transparent;
    }
  }

  &__results {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__checkFB {
      width: 30%;
    }

    &__checkX {
      width: 30%;
    }
  }

}